    .van-cell {
      padding: 1.8rem 1.5rem;
    }
    .van-field__control{
        line-height: 2.4rem;
    }
    .van-cell__title {
        flex: 0.5
    }
    
    .van-cell__value {
        flex: 1
    }
    
    .borderStyle {
        height: 1px;
        background: #EAEAEA;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .buy-now,.buy-now-active {
            width: 70%;
            height: 4.5rem;
            background: -webkit-linear-gradient(318deg, #ffaf82 0%, #ff7b31 100%);
            background: -o-linear-gradient(318deg, #ffaf82 0%, #ff7b31 100%);
            background: linear-gradient(132deg, #ffaf82 0%, #ff7b31 100%);
            border-radius: 23px;
            color: #fff;
            font-size: 1.7rem;
            font-weight: 500;
            position: fixed;
            bottom: 7rem;
            left: 50%;
            margin-left: -35%;
        }
        .buy-now-gray{
            opacity:0.5;
        }
        .font-28{
            font-size:2.8rem;
        }
        .font-18{
            font-size:1.8rem;
        }
        .font-16{
            font-size:1.6rem;
        }
        .color-833{
            color:#1A2833;
        }
        .font-weight-500{
            font-weight: 500;
        }
        .color-966{
            color:#475966;
        }
        .font-weight-400{
             font-weight: 400;
        }
        .font-15{
            font-size:1.5rem;
        }
        .font-12{
            font-size:1.2rem;
        }
        .font-14{
            font-size:1.4rem;
        }
        .font-16{
            font-size:1.6rem;
        }
        .color-399{
            color:#8A9399;
        }
        .color-B31{
            color:#FF7B31
        }
        .color64D{
            color:#4B464D;
        }
        .font-22{
            font-size:2.2rem;
        }
        .opacity-style{
            opacity: 0.5;
        }
        .font-17{
            font-size:1.7rem;
        }
        .font-weight-600{
            font-weight: 600;
        }
