$themeColor: #FF7B31;
$lightThemeColor: #FFAF82;
$lightColor: #8A9399;
$normalColor: #475966;
$darkColor: #2B3842;
$bgColor: #F5F5F5;
$disabledBg: #B0B5B8;
$borderColor: #F0F0F0;

$darkThemeColor: #FF0000;