$themeColor: #FF7B31;
$lightThemeColor: #FFAF82;
$lightColor: #8A9399;
$normalColor: #475966;
$darkColor: #1A2833;
$bgColor: #f5f5f5;
$disabledBg: #B0B5B8;
$borderColor: #EAEAEA;

$darkThemeColor: #FF0000;