@import './global.scss';

/* 
 *   0.5px的边框
 *   如果要一个四周0.5px的边框, 可以直接用 @include borderHalfPxRound(#ddd, 0px); 入参： 边框颜色、弧度。
 *   如果只要一条0.5px的边框，可以用borderTopHalfPx， borderBottomHalfPx， borderLeftHalfPx， borderRightHalfPx， 分别代表上下左右的边框，用法和上面的borderHalfPxRound是一样的。
 *   也可以直接用borderHalfPx, 参数含义$borderColor， $borderRadius， $borderTop, $borderRight, $borderBottom, $borderLeft, $borderStyle 貌似已经很明了了，就不啰嗦了。
 *   但要注意某一个边没有的话，值不能是none，而是0(比如没有上边框的话，$borderTop是0而不是none)。
 */
 @mixin borderHalfPx($borderColor: #ddd, $borderRadius: 0, $borderTop: 0, $borderRight: 0, $borderBottom: 0, $borderLeft: 0, $borderStyle: solid) {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 200%;
        height: 200%;
        border-radius: $borderRadius * 2;
        border: $borderTop $borderStyle $borderColor;
        border-right-width: $borderRight;
        border-bottom-width: $borderBottom;
        border-left-width: $borderLeft;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform: scale(.5, .5);
        -webkit-transform: scale(.5, .5);
    }
}

@mixin borderHalfPxRound($borderColor: #ddd, $borderRadius: 0) {
    @include borderHalfPx($borderColor, $borderRadius, 1px, 1px, 1px, 1px);
}

@mixin borderTopHalfPx($borderColor: #ddd, $borderRadius: 0) {
    @include borderHalfPx($borderColor, $borderRadius, 1px, 0, 0, 0);
    // 解决before内容盖住div, 点击失效的问题 (例如：点击input无法focus)
    &::before {
        height: 0;
        bottom: initial;
    }
}

@mixin borderBottomHalfPx($borderColor: #ddd, $borderRadius: 0) {
    @include borderHalfPx($borderColor, $borderRadius, 0, 0, 1px, 0);
    &::before {
        height: 0;
        top: initial;
    }
}

@mixin borderLeftHalfPx($borderColor: #ddd, $borderRadius: 0) {
    @include borderHalfPx($borderColor, $borderRadius, 0, 0, 0, 1px);
    &::before {
        width: 0;
        right: initial;
    }
}

@mixin borderRightHalfPx($borderColor: #ddd, $borderRadius: 0) {
    @include borderHalfPx($borderColor, $borderRadius, 0, 1px, 0, 0);
    &::before {
        width: 0;
        left: initial;
    }
}

html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
}
  
html, body {
//  width: 100%;
//  overflow-x: hidden;
    height: 100%;
    font-size: 2.666667vw;
    line-height: 1.3;
    color: $normalColor;
    position: relative;
}
  
html * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 414px) {
    // for iphone 6 plus
    html {
        font-size: 11.04px!important;
    }
}

@media only screen and (min-width: 412px) {
    // for nexus
    html {
        font-size: 10.98666667px!important;
    }
}

@media only screen and (min-width: 400px) {
    // for other Android
    html {
        font-size: 10.666667px!important;
    }
}

body {
    background-color: $bgColor;
    font-family: "PingFang SC", "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

ul, ul li {
    padding: 0;
    margin-left: 0;
    list-style-type: none;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

img {
    vertical-align: bottom;
}

input:focus{
    outline:none;
}

input::-webkit-input-placeholder {
    color: #BBBBBB;
    font-size: 1.3rem;
}
  
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
  
button, select {
    text-transform: none;
}
  
button, input {
    line-height: normal;
}
  
button {
    overflow: visible;
    border: 0px;
    outline: none;
}
  
button, input, optgroup, select, textarea {
    color: inherit;
    // font: inherit;
    font-size: 1.3rem;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}

dl, dd {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
  
a:link,
a:visited,
a:active,
a:hover {
    color: $themeColor;
    background: none!important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

a.link,
a.link:active,
a.link:visited,
button.link {
    display: inline-block;
    color: $themeColor;
    text-decoration: none;
    line-height: 1;
    position: relative;
    &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 0px;
        border-bottom: 1px solid $themeColor;
        color: $themeColor;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

a.icon,
i.icon,
em.icon,
span.icon,
button.icon {
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
}

button.icon {
    border: none;
    background-color: transparent;
    outline: none;
    &:focus {
        outline: none;
    }
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.hidden {
    display: none;
}

.theme-color {
    color: $themeColor;
}

.width-100 {
    width: 100%;
}

.mb-10 {
    margin-bottom: 1rem;
}

.no-content {
    font-size: 2.2rem;
    text-align: center;
    padding-top: 8rem;
    font-weight: 500;
}

.search-input {
    position: relative;
    // margin-top: 1rem;
    height: 4rem;
    img {
        position: absolute;
        z-index: 2;
        left: 13%;
        width: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }
    input {
        width: 84%;
        height: 4rem;
        background: #fff;
        border: none;
        box-shadow: 0px 1px 5px 0px #F2EDED;
        border-radius: 2.5rem;
        position: absolute;
        left: 8%;
        top: 0;
        padding: 1.35rem 0 1.35rem 10%;
    }
}

.popup-title {
    text-align: center;
    padding: 1.5rem 2rem;
    line-height: 2.1rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.popup-close {
    width: 1.7rem;
    position: absolute;
    right: 2rem;
    top: 1.6rem;
}

// 构面浮层
.pay-popup {
    .pay-popup-product {
        text-align: center;
        font-size: 3rem;
        color: $themeColor;
        font-weight: 500;
        line-height: 4.2rem;
        padding: .5rem 0 3.5rem;
    }
    .pay-popup-item {
        border-top: .3rem solid $bgColor;
        padding: 1.5rem 2.3rem 1.5rem 3rem;
    }
    .popup-item-icon {
        width: 1.8rem;
        height: 1.8rem;
    }
    .popup-item-icon img, .popup-item-choose {
        height: 1.8rem;
    }
    .popup-item-radio {
        width: 1.8rem;
        height: 1.8rem;
        border: 1px solid $bgColor;
        border-radius: 50%;
        display: inline-block;
    }
    .pay-popup-btn {
        text-align: center;
        line-height: 6rem;
        background: $darkThemeColor;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .popup-item-title {
        font-size: 1.4rem;
        color:$darkColor;
        line-height: 1.8rem;
        margin-left: 1.5rem;
    }
}

/* 滚动条整体样式 */
.overflow::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: #fff;
}
/* 滚动条里面小方块 */
.overflow::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 #fff;
    background-color: #fff;
}
/* 滚动条里面轨道 */
.overflow::-webkit-scrollbar-track {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 #fff;
    background-color: #fff;
}

.v-modal {
    opacity: .2;
}

.main-content {
    font-size: 1.3rem;
    line-height: 1.9rem;

    .van-overlay {
        background: rgba(0, 0, 0, 0.5);
    }

    /* van-popup(协议) */
    .van-popup-protocol {
        width: 80%;
        border-radius: 5px;
        background: transparent;
        .pop-wrap {
            height: 38rem;
            border-radius: 5px;
            background: #fff;
        }
        .close-wrap {
            text-align: center;
            margin-top: 1.66rem;
            img {
                height: 3.33rem;
                width: 3.33rem;
            }
        }
    }

    /* van-button */
    .van-button--disabled {
        background: $disabledBg ;
        opacity: 1;
    }

    /* van-field */
    .van-field {
        color: $darkColor;
        line-height: 6rem;
        padding: 0 1.5rem;
        font-size: 1.5rem;
        .van-field__label {
            -webkit-box-flex: 0 !important;
            -webkit-flex: none !important;
            flex: none !important;
            width: 35%;
            min-width: 9rem;
            max-width: 13rem;
        }
        .van-field__control {
            height: 6rem;
        }
        .van-field-btn {
            width: 8.6rem;
            font-size: 1.2rem;
            text-align: center;
            border-radius: 2rem;
            -webkit-tap-highlight-color:rgba(0,0,0,0);
            // background: linear-gradient(to right,$lightThemeColor,$themeColor);
            background: transparent;
            border: 1px solid $themeColor;
            color: $themeColor;
            &:active {
                background: transparent;
            }
        }
        .van-button--disabled {
            border: 1px solid $disabledBg;
            color: $disabledBg;
            opacity: 1;
        }
        &:not(:last-child)::after {
            left: 1.5rem;
            right: 1.5rem;
            border-bottom: 1px solid $borderColor;
        }
    }

    /* van-button */
    .van-button:active::before {
        opacity: 0;
    }

    /* van-checkbox */
    .van-checkbox {
        .van-checkbox__label {
            text-align: left;
        }
        .van-checkbox__icon .van-icon {
            width: 1.14em;
            height: 1.14em;
            line-height: 1.14em;
        }
    }

    /* van-dropdown-menu */ 
    .van-dropdown-menu {
        height: 5rem;
        .van-dropdown-menu__title {
            color: #1A2833;
        }
    }
    .van-dropdown-menu__item:active {
        opacity: 1;
    }

    // 浮层
    .open-sarari-tip {
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:10000;
        text-align: center;
        // background: rgba(0,0,0,.6) url('../assets/images/tips.png') no-repeat 92% 0;
        background-size: 78%;
    }

    /* 大按钮 */
    .page-button {
        padding: 3rem 1.5rem 0;
    }
    .next-button {
        height: 4.5rem;
        width: 100%;
        color: #fff;
        line-height: 4.5rem;
        font-size: 1.6rem;
        text-align: center;
        outline: none;
        border: none;
        border-radius: 3rem;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        background: linear-gradient(to right,$lightThemeColor,$themeColor);
    }

    /* input中的小按钮 */
    .page-verify {
        position: absolute;
        right: 1.5rem;
        bottom: 1.7rem;
        width: 8.6rem;
        height: 2.6rem;
        line-height: 1;
        font-size: 1.2rem;
        text-align: center;
        border-radius: 2rem;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        // background: linear-gradient(to right,$lightThemeColor,$themeColor);
        background: transparent;
        border: 1px solid $themeColor;
        color: $themeColor;
        &:active {
            background: transparent;
        }
    }

    .next-button.van-button--disabled {
        color: #fff;
        // background: $disabledBg;
        background: linear-gradient(to right, #ffaf82, #ff7b31);
        opacity: .5;
    }

    .page-verify.van-button--disabled {
        color: $lightColor;
        border: 1px solid $lightColor;
    }



    // 表单
    .page-field {
        position: relative;
        .page-part {
            padding: 0 1.5rem;
            background: #fff;
        }
    }

    // 协议小字
    .page-protocol {
        font-size: 1.2rem;
        color: $darkColor;
        text-align: center;

        .protocol-a {
            font-size: 1.2rem;
            color: $themeColor;
            line-height: 3.2rem;
            display: inline-block;
            text-decoration: underline;
        }
    }
}

// 登录页
.login {
    padding-top: 3rem;
    height: 100%;
    background: #fff;
    .login-h2 {
        margin-left: 2.5rem;
        color: $darkColor;
        font-size: 2.8rem;
        line-height: 2.8rem;
    }
    .login-h3 {
        color: $darkColor;
        font-size: 2.8rem;
        margin: 1.2rem 0 1rem 2.5rem;
        line-height: 2.8rem;
    }
    .page-protocol {
        position: fixed;
        width: 100%;
        bottom: 2.5rem;
        text-align: center;
        font-size: 1rem;
        color: $lightColor;
        .protocol-a {
            font-size: 1rem;
            line-height: 3rem;
        }
    }
    .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after {
        border-width: 0;
        border-bottom: 1px solid $borderColor;
    }
    .van-cell-group {
        height: 7rem;
        .van-cell-group-input {
            height: 4.3rem;
            line-height: 3.8rem;
            font-size: 1.6rem;
            top: 2.7rem;
            // height: 4rem;
            width: 100%;
            position: absolute;
            // top: 2rem;
            border: none;
            background-color: #fff;
            color: $normalColor;
            font-size: 1.5rem;
            .van-field__control {
                height: 4rem !important;
                line-height: 4rem;  
            }
            &:focus { 
                border-bottom: 2px solid $themeColor;
            }
            &::-webkit-input-placeholder {       /* Internet Explorer 10+ */
                color: $lightColor !important; 
            }
        }
        .van-cell-group-inputTitle {
            position: absolute;
            top: 0.5rem;
            font-style: normal;
            line-height: 1;
            top: 1.6rem;
            color: $lightColor;
        }
        .van-icon-close {
            right: 0;
            top: 2.7rem;
            position: absolute;
            line-height: 4rem;
            color: $lightColor;
        }
        .verify-input-code {
            right: 11.1rem;
        }
    }
    .page-part {
        padding: 0 2.5rem;
    }
    .page-verify {
        position: absolute;
        right: 2.5rem;
        top: 3.8rem;
        width: 9rem;
        height: 1.6rem;
        line-height: 1;
        font-size: 16px;
        border-radius: 0;
        border: none;
        border-left: 1px solid $normalColor;
        color: $themeColor;
        padding: 0 0 0 1rem;
    }
    input::-webkit-input-placeholder {
        font-size: 1.6rem;
        color: $lightColor;
    }
    .page-button {
        padding: 6rem 2.5rem 5.5rem;
    }
    .page-verify.van-button--disabled {
        color: $lightColor;
        background: #fff;
        border: none;
        border-left: 1px solid $normalColor;
    }
}

// 绑卡页
.add-bank-card {
    padding-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .page-protocol {
        margin: .7rem 0 8rem 1.5rem;
    }
    .page-button {
        width: 100%;
        padding: 0 14.4% 6rem 14.4%;
    }
}

// 我的团队
.my-team {
    padding-top: 1rem;
    .team-item {
        background: #fff;
        padding: 1.2rem 1rem 0;
        margin-bottom: 1rem;
    }
    .team-first, .second-child {
        display: flex;
    }
    .second-child {
        padding: .6rem 0;
    }
    .first-img, .first-img-bg, .second-img, .second-img-bg {
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
    }
    .second-img, .second-img-bg {
        width: 2.4rem;
        height: 2.4rem;
    }
    .first-img-bg, .second-img-bg {
        display: inline-block;
        background: $bgColor;
    }
    .first-content, .second-content {
        flex: 1;
        -webkit-box-flex: 1;
        flex-direction: row;
        overflow: hidden;
        margin-left: 1rem;
        line-height: 1;
        font-size: 1.6rem;
        color: $darkColor;
    }
    .second-content {
        font-size: 1.4rem;
        line-height: 2.4rem;
        margin-left: .8rem;
        color: #2B3842;
    }
    .second-amount {
        color: $themeColor;
        font-weight: 500;
    }
    .first-amount {
        font-size: 1.8rem;
        font-weight: 500;
        color: $themeColor;
        margin: 1.1rem 0 1.4rem;
    }
    .team-second .van-collapse-item__content {
        background: #FAFAFA;
        margin-bottom: 1.2rem;
        margin-bottom: 1.2rem;
        padding: .6rem 1.2rem;
        border-radius: 3px;
    }
    .second-no {
        height: 2.4rem;
        line-height: 2.4rem;
        font-size: 1.5rem;
        color: #2B3842;
    }
    .second-no-right {
        font-weight: 600;
    }
    .van-cell--clickable:active {
        background: #fff;
    }
}

// 账单
.account-balance {
    .account-balance-type {
        margin-bottom: 1rem;
    }
    .bill-item {
        display: flex;
        flex-direction: row;
        line-height: 1;
        font-size: 1.2rem;
        color: $darkColor;
    }
    .bill-item-right {
        flex: auto;
        text-align: right;
    }
    .bill-item-title {
        font-size: 1.5rem;
        margin-bottom: 1.1rem;
    }
    .bill-item-time {
        color: $lightColor;
    }
    .bill-item-amount {
        font-size: 1.8rem;
        margin-bottom: .8rem;
        font-weight: 600;
    }
    .bill-item-status {
        color: $darkThemeColor;
    }
    .van-cell {
        padding: 2rem 1.5rem;
    }
}

// 我的银行卡
.my-bank-card {
    .bank-item {
        width: 100%;
        position: relative;
        color: #fff;
        font-size: 2.1rem;
    }
    .bank-item-bg {
        width: 100%;
    }
    .bank-item-tips {
        @include borderHalfPxRound(#fff, 0);
        position: absolute;
        font-size: 1.1rem;
        line-height: 2rem;
        top: 34.31%;
        right: 9.33%;
        padding: 0 .6rem;
        font-weight: 300;
    }
    .bank-item-content {
        vertical-align: middle;
        position: absolute;
        left: 12.53%;
        top: 42.34%;
        line-height: 2.7rem;
    }
    .bank-item-photo {
        width: 2.7rem;
        margin-right: .8rem;
    }
    .bank-item-no {
        position: absolute;
        left: 12.53%;
        top: 72.99%;
        font-size: 1.3rem;
        line-height: 1;
        font-weight: 300;
    }
    .bank-item-add {
        width: 100%;
    }
}