@import './global.scss';

.van-overlay {
    background: rgba(0, 0, 0, 0.5);
}

/* van-popup(协议) */
.van-popup-protocol {
    width: 80%;
    border-radius: 5px;
    background: transparent;
    .pop-wrap {
        height: 38rem;
        border-radius: 5px;
        background: #fff;
    }
    .close-wrap {
        text-align: center;
        margin-top: 1.66rem;
        img {
            height: 3.33rem;
            width: 3.33rem;
        }
    }
}

/* van-button */
.van-button--disabled {
    background: $disabledBg ;
    opacity: 1;
}

/* van-field */
.van-field {
    color: $darkColor;
    line-height: 6rem;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    .van-field__label {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        flex: none !important;
        width: 35%;
        min-width: 9rem;
        max-width: 13rem;
    }
    .van-field__control {
        height: 6rem;
    }
    .van-field-btn {
        width: 8.6rem;
        font-size: 1.2rem;
        text-align: center;
        border-radius: 2rem;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        // background: linear-gradient(to right,$lightThemeColor,$themeColor);
        background: transparent;
        border: 1px solid $themeColor;
        color: $themeColor;
        &:active {
            background: transparent;
        }
    }
    .van-button--disabled {
        border: 1px solid $disabledBg;
        color: $disabledBg;
        opacity: 1;
    }
    &:not(:last-child)::after {
        left: 1.5rem;
        right: 1.5rem;
        border-bottom: 1px solid $borderColor;
    }
}

/* van-button */
.van-button:active::before {
    opacity: 0;
}

/* van-checkbox */
.van-checkbox {
    .van-checkbox__label {
        text-align: left;
    }
    .van-checkbox__icon .van-icon {
        width: 1.14em;
        height: 1.14em;
        line-height: 1.14em;
    }
}

/* van-dropdown-menu */ 
.van-dropdown-menu {
    height: 5rem;
    .van-dropdown-menu__title {
        color: #1A2833;
    }
}
.van-dropdown-menu__item:active {
    opacity: 1;
}
